n8n/whatsapp-register-phone.json
{
  "name": "WhatsApp - Registrar Número",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Executar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone-number-id",
              "name": "phoneNumberId",
              "value": "1123470334172535",
              "type": "string"
            },
            {
              "id": "pin",
              "name": "pin",
              "value": "SEU_PIN_6_DIGITOS",
              "type": "string"
            },
            {
              "id": "access-token",
              "name": "accessToken",
              "value": "SEU_ACCESS_TOKEN",
              "type": "string"
            },
            {
              "id": "version",
              "name": "version",
              "value": "v22.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Configuração",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.version }}/{{ $json.phoneNumberId }}/register",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"pin\": \"{{ $json.pin }}\"\n}",
        "options": {}
      },
      "id": "http-register",
      "name": "Registrar Número WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"sucesso\",\n  \"message\": \"Número registrado com sucesso\",\n  \"data\": $json\n}"
      },
      "id": "sucesso",
      "name": "Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"erro\",\n  \"message\": \"Falha no registro. Verifique PIN e token.\",\n  \"error\": $json\n}"
      },
      "id": "erro",
      "name": "Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Executar Manualmente": {
      "main": [
        [
          {
            "node": "Configuração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração": {
      "main": [
        [
          {
            "node": "Registrar Número WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Número WhatsApp": {
      "main": [
        [
          {
            "node": "Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
